Source: ros-melodic-am-perception-pcl
Section: misc
Priority: extra
Maintainer: info <info@automodality.com>
Build-Depends: debhelper (>= 9.0.0), 
							 pcl,
							 libeigen3-dev,
							 ros-melodic-pcl-msgs,
							 libflann-dev,
							 ros-melodic-tf,
							 ros-melodic-tf2-eigen,
							 

Homepage: https://github.com/AutoModality/perception_pcl
Standards-Version: 3.9.2
Package: ros-melodic-am-perception-pcl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
				 pcl,
				 libeigen3-dev,
				 ros-melodic-pcl-msgs,
				 libflann-dev,
				 ros-melodic-tf,
				 ros-melodic-tf2-eigen,
Replaces: ros-melodic-pcl-conversions, ros-melodic-pcl-ros, ros-melodic-perception-pcl
Description: contains packages including pcl_ros and pcl_conversions
